.month-name {
    width: 242px;
    height: 36px;
    margin-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 99.5%;
    color: #FFFFFF;
}